.fr-clearfix:after {
  clear: both;
  display: block;
  content: '';
  height: 0;
}
.fr-hide-by-clipping {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.spearly-richtext-content .fr-img-caption.fr-rounded img,
.spearly-richtext-content img.fr-rounded {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.spearly-richtext-content .fr-img-caption.fr-shadow img,
.spearly-richtext-content img.fr-shadow {
  -webkit-box-shadow: 10px 10px 5px 0 #ccc;
  -moz-box-shadow: 10px 10px 5px 0 #ccc;
  box-shadow: 10px 10px 5px 0 #ccc;
}
.spearly-richtext-content .fr-img-caption.fr-bordered img,
.spearly-richtext-content img.fr-bordered {
  border: solid 5px #ccc;
}
.spearly-richtext-content img.fr-bordered {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.spearly-richtext-content .fr-img-caption.fr-bordered img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.spearly-richtext-content {
  word-wrap: break-word;
}
.spearly-richtext-content span[style~='color:'] a {
  color: inherit;
}
.spearly-richtext-content strong {
  font-weight: 700;
}
.spearly-richtext-content table {
  border: 0;
  border-collapse: collapse;
  empty-cells: show;
  max-width: 100%;
}
.spearly-richtext-content table td {
  min-width: 5px;
}
.spearly-richtext-content table.fr-dashed-borders td,
.spearly-richtext-content table.fr-dashed-borders th {
  border-style: dashed;
}
.spearly-richtext-content table.fr-alternate-rows tbody tr:nth-child(2n) {
  background: #f5f5f5;
}
.spearly-richtext-content table td,
.spearly-richtext-content table th {
  border: 1px solid #ddd;
}
.spearly-richtext-content table td:empty,
.spearly-richtext-content table th:empty {
  height: 20px;
}
.spearly-richtext-content table td.fr-highlighted,
.spearly-richtext-content table th.fr-highlighted {
  border: 1px double red;
}
.spearly-richtext-content table td.fr-thick,
.spearly-richtext-content table th.fr-thick {
  border-width: 2px;
}
.spearly-richtext-content table th {
  background: #ececec;
}
.spearly-richtext-content hr {
  clear: both;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  break-after: always;
  page-break-after: always;
}
.spearly-richtext-content .fr-file {
  position: relative;
}
.spearly-richtext-content .fr-file:after {
  position: relative;
  content: '\1F4CE';
  font-weight: 400;
}
.spearly-richtext-content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: visible;
}
.spearly-richtext-content[dir='rtl'] blockquote {
  border-left: 0;
  border-right: solid 2px #5e35b1;
  margin-right: 0;
  padding-right: 5px;
  padding-left: 0;
}
.spearly-richtext-content[dir='rtl'] blockquote blockquote {
  border-color: #00bcd4;
}
.spearly-richtext-content[dir='rtl'] blockquote blockquote blockquote {
  border-color: #43a047;
}
.spearly-richtext-content blockquote {
  border-left: solid 2px #5e35b1;
  margin-left: 0;
  padding-left: 5px;
  color: #5e35b1;
}
.spearly-richtext-content blockquote blockquote {
  border-color: #00bcd4;
  color: #00bcd4;
}
.spearly-richtext-content blockquote blockquote blockquote {
  border-color: #43a047;
  color: #43a047;
}
.spearly-richtext-content span.fr-emoticon {
  font-weight: 400;
  font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji,
    EmojiSymbols;
  display: inline;
  line-height: 0;
}
.spearly-richtext-content span.fr-emoticon.fr-emoticon-img {
  background-repeat: no-repeat !important;
  font-size: inherit;
  height: 1em;
  width: 1em;
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  margin: -0.1em 0.1em 0.1em;
  line-height: 1;
  vertical-align: middle;
}
.spearly-richtext-content .fr-text-gray {
  color: #aaa !important;
}
.spearly-richtext-content .fr-text-bordered {
  border-top: solid 1px #222;
  border-bottom: solid 1px #222;
  padding: 10px 0;
}
.spearly-richtext-content .fr-text-spaced {
  letter-spacing: 1px;
}
.spearly-richtext-content .fr-text-uppercase {
  text-transform: uppercase;
}
.spearly-richtext-content .fr-class-highlighted {
  background-color: #ff0;
}
.spearly-richtext-content .fr-class-code {
  border-color: #ccc;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #f5f5f5;
  padding: 10px;
  font-family: Courier New, Courier, monospace;
}
.spearly-richtext-content .fr-class-transparency {
  opacity: 0.5;
}
.spearly-richtext-content img {
  position: relative;
  max-width: 100%;
}
.spearly-richtext-content img.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
  vertical-align: top;
}
.spearly-richtext-content img.fr-dib.fr-fil {
  margin-left: 0;
  text-align: left;
}
.spearly-richtext-content img.fr-dib.fr-fir {
  margin-right: 0;
  text-align: right;
}
.spearly-richtext-content img.fr-dii {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: 5px;
  max-width: calc(100% -10px);
}
.spearly-richtext-content img.fr-dii.fr-fil {
  float: left;
  margin: 5px 5px 5px 0;
  max-width: calc(100% - 5px);
}
.spearly-richtext-content img.fr-dii.fr-fir {
  float: right;
  margin: 5px 0 5px 5px;
  max-width: calc(100% - 5px);
}
.spearly-richtext-content span.fr-img-caption {
  position: relative;
  max-width: 100%;
}
.spearly-richtext-content span.fr-img-caption.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
  vertical-align: top;
}
.spearly-richtext-content span.fr-img-caption.fr-dib.fr-fil {
  margin-left: 0;
  text-align: left;
}
.spearly-richtext-content span.fr-img-caption.fr-dib.fr-fir {
  margin-right: 0;
  text-align: right;
}
.spearly-richtext-content span.fr-img-caption.fr-dii {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: 5px;
  max-width: calc(100% -10px);
}
.spearly-richtext-content span.fr-img-caption.fr-dii.fr-fil {
  float: left;
  margin: 5px 5px 5px 0;
  max-width: calc(100% - 5px);
}
.spearly-richtext-content span.fr-img-caption.fr-dii.fr-fir {
  float: right;
  margin: 5px 0 5px 5px;
  max-width: calc(100% - 5px);
}
.spearly-richtext-content .fr-video {
  text-align: center;
  position: relative;
}
.spearly-richtext-content .fr-video.fr-rv {
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.spearly-richtext-content .fr-video.fr-rv embed,
.spearly-richtext-content .fr-video.fr-rv object,
.spearly-richtext-content .fr-video.fr-rv > iframe {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.spearly-richtext-content .fr-video > * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 100%;
  border: 0;
}
.spearly-richtext-content .fr-video.fr-dvb {
  display: block;
  clear: both;
}
.spearly-richtext-content .fr-video.fr-dvb.fr-fvl {
  text-align: left;
}
.spearly-richtext-content .fr-video.fr-dvb.fr-fvr {
  text-align: right;
}
.spearly-richtext-content .fr-video.fr-dvi {
  display: inline-block;
}
.spearly-richtext-content .fr-video.fr-dvi.fr-fvl {
  float: left;
}
.spearly-richtext-content .fr-video.fr-dvi.fr-fvr {
  float: right;
}
.spearly-richtext-content a.fr-strong {
  font-weight: 700;
}
.spearly-richtext-content a.fr-green {
  color: green;
}
.spearly-richtext-content .fr-img-caption {
  text-align: center;
}
.spearly-richtext-content .fr-img-caption .fr-img-wrap {
  padding: 0;
  margin: auto;
  text-align: center;
  width: 100%;
}
.spearly-richtext-content .fr-img-caption .fr-img-wrap a {
  display: block;
}
.spearly-richtext-content .fr-img-caption .fr-img-wrap img {
  display: block;
  margin: auto;
  width: 100%;
}
.spearly-richtext-content .fr-img-caption .fr-img-wrap > span {
  margin: auto;
  display: block;
  padding: 5px 5px 10px;
  font-size: 14px;
  font-weight: initial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: 'alpha(opacity=0)';
  width: 100%;
  text-align: center;
}
.spearly-richtext-content button.fr-rounded,
.spearly-richtext-content input.fr-rounded,
.spearly-richtext-content textarea.fr-rounded {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.spearly-richtext-content button.fr-large,
.spearly-richtext-content input.fr-large,
.spearly-richtext-content textarea.fr-large {
  font-size: 24px;
}
.spearly-richtext-content ol,
.spearly-richtext-content ul {
  list-style-position: inside;
}
a.spearly-richtext-content.fr-strong {
  font-weight: 700;
}
a.spearly-richtext-content.fr-green {
  color: green;
}
img.spearly-richtext-content {
  position: relative;
  max-width: 100%;
}
img.spearly-richtext-content.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
  vertical-align: top;
}
img.spearly-richtext-content.fr-dib.fr-fil {
  margin-left: 0;
  text-align: left;
}
img.spearly-richtext-content.fr-dib.fr-fir {
  margin-right: 0;
  text-align: right;
}
img.spearly-richtext-content.fr-dii {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: 5px;
  max-width: calc(100% -10px);
}
img.spearly-richtext-content.fr-dii.fr-fil {
  float: left;
  margin: 5px 5px 5px 0;
  max-width: calc(100% - 5px);
}
img.spearly-richtext-content.fr-dii.fr-fir {
  float: right;
  margin: 5px 0 5px 5px;
  max-width: calc(100% - 5px);
}
span.fr-img-caption.spearly-richtext-content {
  position: relative;
  max-width: 100%;
}
span.fr-img-caption.spearly-richtext-content.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
  vertical-align: top;
}
span.fr-img-caption.spearly-richtext-content.fr-dib.fr-fil {
  margin-left: 0;
  text-align: left;
}
span.fr-img-caption.spearly-richtext-content.fr-dib.fr-fir {
  margin-right: 0;
  text-align: right;
}
span.fr-img-caption.spearly-richtext-content.fr-dii {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: 5px;
  max-width: calc(100% -10px);
}
span.fr-img-caption.spearly-richtext-content.fr-dii.fr-fil {
  float: left;
  margin: 5px 5px 5px 0;
  max-width: calc(100% - 5px);
}
span.fr-img-caption.spearly-richtext-content.fr-dii.fr-fir {
  float: right;
  margin: 5px 0 5px 5px;
  max-width: calc(100% - 5px);
}


